
element.style {
}

._4xyVwE .QKHMNA {
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    word-break: break-word;
    font-size: 1.3125rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.headerNav.mobileNav {
    background: #fff;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1200;
    border-bottom: 1px solid #c2ccd4;
}
.headerNav, .headerNav .navLogo {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.headerNav {
    font-size: 16px;
    line-height: 1.5;
    font-family: Lato,Helvetica,Arial,sans-serif;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0 .9375em;
}
*, :after, :before, html {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body, button {
    font-family: var(--primary-font-family);
}
body {
    color: var(--cg-base-body-text-color);
    font-size: 1em;
    line-height: var(--base-line-height);
}
:root {
    --collapse-base-subtitle-font-size: 1rem;
    --collapse-base-border-radius: var(--cg-base-border-radius);
    --collapse-base-padding: var(--cg-base-collapse-padding);
    --collapse-base-subtitle-font-weight: var(--primary-font-weight-normal);
    --collapse-base-subtitle-color: var(--cg-base-body-text-color-light);
    --collapse-base-focus-border-color: var(--cg-base-focus-border-color);
}
:root {
    --card-base-border-color: var(--cg-base-border-color);
    --card-body-base-link-color: var(--cg-base-card-link-color);
    --card-body-base-text-color: var(--cg-base-body-text-color-light);
    --card-body-base-header-color: var(--cg-base-body-text-color);
}
:root {
    --button-base-background-color: transparent;
    --button-base-background-transition: var(--cg-base-transition);
    --button-base-border-color: var(--cg-base-cta-border-color);
    --button-base-text-color: var(--cg-base-cta-dark-text-color);
    --button-base-border-radius: var(--cg-base-border-radius);
    --button-base-line-height: var(--cg-base-line-height);
    --button-base-min-height: 2.75rem;
    --button-base-sm-min-height: 1.875rem;
    --button-base-lg-min-height: 3.125rem;
    --button-base-sm-font-size: 1rem;
    --button-base-md-font-size: 1rem;
    --button-base-lg-font-size: 1.25rem;
    --button-base-sm-desktop-padding-x: 0.75rem;
    --button-base-sm-desktop-padding-y: 0;
    --button-base-sm-padding-x: 1.25rem;
    --button-base-sm-padding-y: 0;
    --button-base-md-padding-x: 1.25rem;
    --button-base-md-padding-y: 0;
    --button-base-lg-padding-x: 1.25rem;
    --button-base-lg-padding-y: 0;
    --button-base-icon-margin-right: 0.5rem;
    --button-icon-sm-desktop-min-width: 1.875rem;
    --button-icon-sm-desktop-max-width: 1.875rem;
    --button-icon-sm-min-width: 2.75rem;
    --button-icon-sm-max-width: 2.75rem;
    --button-icon-md-min-width: 2.75rem;
    --button-icon-md-max-width: 2.75rem;
    --button-icon-lg-min-width: 3.125rem;
    --button-icon-lg-max-width: 3.125rem;
    --link-as-button-base-sm-padding-y: 0.5625rem;
    --link-as-button-base-md-padding-y: 0.563rem;
    --link-as-button-base-lg-padding-y: 0.5625rem;
    --link-as-button-icon-md-min-width: 2.625rem;
    --link-as-button-icon-md-max-width: 2.625rem;
    --link-as-button-base-sm-desktop-padding-y: 0.125rem;
    --link-as-button-icon-sm-desktop-min-width: 1.75rem;
    --link-as-button-icon-sm-desktop-max-width: 1.75rem;
    --button-base-disabled-background-color: var(--cg-base-disabled-background-color);
    --button-base-disabled-border-color: var(--cg-base-disabled-border-color);
    --button-base-disabled-color: var(--cg-base-disabled-text-color);
    --button-isolated-background-color: var(--cg-base-isolated-cta-background-color);
    --button-isolated-background-color-hover: var(--cg-base-isolated-cta-background-color-hover);
    --button-isolated-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-background-color: var(--cg-base-primary-cta-background-color);
    --button-primary-background-color-hover: var(--cg-base-primary-cta-background-color-hover);
    --button-primary-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-ghost-background-color: var(--cg-base-primary-cta-ghost-background-color);
    --button-primary-ghost-background-color-hover: var(--cg-base-primary-cta-ghost-background-color-hover);
    --button-primary-ghost-border-color: var(--cg-base-primary-cta-ghost-border-color);
    --button-primary-ghost-text-color: var(--cg-base-primary-cta-ghost-text-color);
}
:root {
    --button-base-background-color: transparent;
    --button-base-background-transition: var(--cg-base-transition);
    --button-base-border-color: var(--cg-base-cta-border-color);
    --button-base-text-color: var(--cg-base-cta-dark-text-color);
    --button-base-border-radius: var(--cg-base-border-radius);
    --button-base-line-height: var(--cg-base-line-height);
    --button-base-min-height: 2.75rem;
    --button-base-sm-min-height: 1.875rem;
    --button-base-lg-min-height: 3.125rem;
    --button-base-sm-font-size: 1rem;
    --button-base-md-font-size: 1rem;
    --button-base-lg-font-size: 1.25rem;
    --button-base-sm-desktop-padding-x: 0.75rem;
    --button-base-sm-desktop-padding-y: 0;
    --button-base-sm-padding-x: 1.25rem;
    --button-base-sm-padding-y: 0;
    --button-base-md-padding-x: 1.25rem;
    --button-base-md-padding-y: 0;
    --button-base-lg-padding-x: 1.25rem;
    --button-base-lg-padding-y: 0;
    --button-base-icon-margin-right: 0.5rem;
    --button-base-icon-margin-left: 0.5rem;
    --button-icon-sm-desktop-min-width: 1.875rem;
    --button-icon-sm-desktop-max-width: 1.875rem;
    --button-icon-sm-min-width: 2.75rem;
    --button-icon-sm-max-width: 2.75rem;
    --button-icon-md-min-width: 2.75rem;
    --button-icon-md-max-width: 2.75rem;
    --button-icon-lg-min-width: 3.125rem;
    --button-icon-lg-max-width: 3.125rem;
    --link-as-button-base-sm-padding-y: 0.5625rem;
    --link-as-button-base-md-padding-y: 0.563rem;
    --link-as-button-base-lg-padding-y: 0.5625rem;
    --link-as-button-icon-md-min-width: 2.625rem;
    --link-as-button-icon-md-max-width: 2.625rem;
    --link-as-button-base-sm-desktop-padding-y: 0.125rem;
    --link-as-button-icon-sm-desktop-min-width: 1.75rem;
    --link-as-button-icon-sm-desktop-max-width: 1.75rem;
    --button-base-disabled-background-color: var(--cg-base-disabled-background-color);
    --button-base-disabled-border-color: var(--cg-base-disabled-border-color);
    --button-base-disabled-color: var(--cg-base-disabled-text-color);
    --button-isolated-background-color: var(--cg-base-isolated-cta-background-color);
    --button-isolated-background-color-hover: var(--cg-base-isolated-cta-background-color-hover);
    --button-isolated-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-background-color: var(--cg-base-primary-cta-background-color);
    --button-primary-background-color-hover: var(--cg-base-primary-cta-background-color-hover);
    --button-primary-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-ghost-background-color: var(--cg-base-primary-cta-ghost-background-color);
    --button-primary-ghost-background-color-hover: var(--cg-base-primary-cta-ghost-background-color-hover);
    --button-primary-ghost-border-color: var(--cg-base-primary-cta-ghost-border-color);
}
:root {
    --scrollingbox-base-spacing-unit: var(--space-md-rem);
}
:root {
    --tooltip-base-text-color: var(--cg-base-tooltip-text-color);
    --tooltip-base-background-color: var(--cg-base-tooltip-background-color);
    --tooltip-base-font-weight: var(--cg-base-tooltip-font-weight);
    --tooltip-base-arrow-background-color: var(--cg-base-tooltip-arrow-background-color);
    --tooltip-base-arrow-border-color: var(--cg-base-tooltip-arrow-border-color);
    --tooltip-base-border-radius: var(--cg-base-tooltip-border-radius);
    --tooltip-base-transparent-black: var(--cg-base-tooltip-transparent-black);
}
:root {
    --button-base-background-color: transparent;
    --button-base-background-transition: var(--cg-base-transition);
    --button-base-border-color: var(--cg-base-cta-border-color);
    --button-base-text-color: var(--cg-base-cta-dark-text-color);
    --button-base-border-radius: var(--cg-base-border-radius);
    --button-base-line-height: var(--cg-base-line-height);
    --button-base-min-height: 2.75rem;
    --button-base-sm-min-height: 1.875rem;
    --button-base-lg-min-height: 3.125rem;
    --button-base-sm-font-size: 1rem;
    --button-base-md-font-size: 1rem;
    --button-base-lg-font-size: 1.25rem;
    --button-base-sm-desktop-padding-x: 0.75rem;
    --button-base-sm-desktop-padding-y: 0;
    --button-base-sm-padding-x: 1.25rem;
    --button-base-sm-padding-y: 0;
    --button-base-md-padding-x: 1.25rem;
    --button-base-md-padding-y: 0;
    --button-base-lg-padding-x: 1.25rem;
    --button-base-lg-padding-y: 0;
    --button-base-icon-margin-right: 0.5rem;
    --button-icon-sm-desktop-min-width: 1.875rem;
    --button-icon-sm-desktop-max-width: 1.875rem;
    --button-icon-sm-min-width: 2.75rem;
    --button-icon-sm-max-width: 2.75rem;
    --button-icon-md-min-width: 2.75rem;
    --button-icon-md-max-width: 2.75rem;
    --button-icon-lg-min-width: 3.125rem;
    --button-icon-lg-max-width: 3.125rem;
    --link-as-button-base-sm-padding-y: 0.5625rem;
    --link-as-button-base-md-padding-y: 0.563rem;
    --link-as-button-base-lg-padding-y: 0.5625rem;
    --link-as-button-icon-md-min-width: 2.625rem;
    --link-as-button-icon-md-max-width: 2.625rem;
    --link-as-button-base-sm-desktop-padding-y: 0.125rem;
    --link-as-button-icon-sm-desktop-min-width: 1.75rem;
    --link-as-button-icon-sm-desktop-max-width: 1.75rem;
    --button-base-disabled-background-color: var(--cg-base-disabled-background-color);
    --button-base-disabled-border-color: var(--cg-base-disabled-border-color);
    --button-base-disabled-color: var(--cg-base-disabled-text-color);
    --button-isolated-background-color: var(--cg-base-isolated-cta-background-color);
    --button-isolated-background-color-hover: var(--cg-base-isolated-cta-background-color-hover);
    --button-isolated-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-background-color: var(--cg-base-primary-cta-background-color);
    --button-primary-background-color-hover: var(--cg-base-primary-cta-background-color-hover);
    --button-primary-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-ghost-background-color: var(--cg-base-primary-cta-ghost-background-color);
    --button-primary-ghost-background-color-hover: var(--cg-base-primary-cta-ghost-background-color-hover);
    --button-primary-ghost-border-color: var(--cg-base-primary-cta-ghost-border-color);
    --button-primary-ghost-text-color: var(--cg-base-primary-cta-ghost-text-color);
}
:root {
    --button-base-background-color: transparent;
    --button-base-background-transition: var(--cg-base-transition);
    --button-base-border-color: var(--cg-base-cta-border-color);
    --button-base-text-color: var(--cg-base-cta-dark-text-color);
    --button-base-border-radius: var(--cg-base-border-radius);
    --button-base-line-height: var(--cg-base-line-height);
    --button-base-min-height: 2.75rem;
    --button-base-sm-min-height: 1.875rem;
    --button-base-lg-min-height: 3.125rem;
    --button-base-sm-font-size: 1rem;
    --button-base-md-font-size: 1rem;
    --button-base-lg-font-size: 1.25rem;
    --button-base-sm-desktop-padding-x: 0.75rem;
    --button-base-sm-desktop-padding-y: 0;
    --button-base-sm-padding-x: 1.25rem;
    --button-base-sm-padding-y: 0;
    --button-base-md-padding-x: 1.25rem;
    --button-base-md-padding-y: 0;
    --button-base-lg-padding-x: 1.25rem;
    --button-base-lg-padding-y: 0;
    --button-base-icon-margin-right: 0.5rem;
    --button-icon-sm-desktop-min-width: 1.875rem;
    --button-icon-sm-desktop-max-width: 1.875rem;
    --button-icon-sm-min-width: 2.75rem;
    --button-icon-sm-max-width: 2.75rem;
    --button-icon-md-min-width: 2.75rem;
    --button-icon-md-max-width: 2.75rem;
    --button-icon-lg-min-width: 3.125rem;
    --button-icon-lg-max-width: 3.125rem;
    --link-as-button-base-sm-padding-y: 0.5625rem;
    --link-as-button-base-md-padding-y: 0.563rem;
    --link-as-button-base-lg-padding-y: 0.5625rem;
    --link-as-button-icon-md-min-width: 2.625rem;
    --link-as-button-icon-md-max-width: 2.625rem;
    --link-as-button-base-sm-desktop-padding-y: 0.125rem;
    --link-as-button-icon-sm-desktop-min-width: 1.75rem;
    --link-as-button-icon-sm-desktop-max-width: 1.75rem;
    --button-base-disabled-background-color: var(--cg-base-disabled-background-color);
    --button-base-disabled-border-color: var(--cg-base-disabled-border-color);
    --button-base-disabled-color: var(--cg-base-disabled-text-color);
    --button-isolated-background-color: var(--cg-base-isolated-cta-background-color);
    --button-isolated-background-color-hover: var(--cg-base-isolated-cta-background-color-hover);
    --button-isolated-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-background-color: var(--cg-base-primary-cta-background-color);
    --button-primary-background-color-hover: var(--cg-base-primary-cta-background-color-hover);
    --button-primary-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-ghost-background-color: var(--cg-base-primary-cta-ghost-background-color);
    --button-primary-ghost-background-color-hover: var(--cg-base-primary-cta-ghost-background-color-hover);
    --button-primary-ghost-border-color: var(--cg-base-primary-cta-ghost-border-color);
    --button-primary-ghost-text-color: var(--cg-base-primary-cta-ghost-text-color);
}
:root {
    --button-base-background-color: transparent;
    --button-base-background-transition: var(--cg-base-transition);
    --button-base-border-color: var(--cg-base-cta-border-color);
    --button-base-text-color: var(--cg-base-cta-dark-text-color);
    --button-base-border-radius: var(--cg-base-border-radius);
    --button-base-line-height: var(--cg-base-line-height);
    --button-base-min-height: 2.75rem;
    --button-base-sm-min-height: 1.875rem;
    --button-base-lg-min-height: 3.125rem;
    --button-base-sm-font-size: 1rem;
    --button-base-md-font-size: 1rem;
    --button-base-lg-font-size: 1.25rem;
    --button-base-sm-desktop-padding-x: 0.75rem;
    --button-base-sm-desktop-padding-y: 0;
    --button-base-sm-padding-x: 1.25rem;
    --button-base-sm-padding-y: 0;
    --button-base-md-padding-x: 1.25rem;
    --button-base-md-padding-y: 0;
    --button-base-lg-padding-x: 1.25rem;
    --button-base-lg-padding-y: 0;
    --button-base-icon-margin-right: 0.5rem;
    --button-icon-sm-desktop-min-width: 1.875rem;
    --button-icon-sm-desktop-max-width: 1.875rem;
    --button-icon-sm-min-width: 2.75rem;
    --button-icon-sm-max-width: 2.75rem;
    --button-icon-md-min-width: 2.75rem;
    --button-icon-md-max-width: 2.75rem;
    --button-icon-lg-min-width: 3.125rem;
    --button-icon-lg-max-width: 3.125rem;
    --link-as-button-base-sm-padding-y: 0.5625rem;
    --link-as-button-base-md-padding-y: 0.563rem;
    --link-as-button-base-lg-padding-y: 0.5625rem;
    --link-as-button-icon-md-min-width: 2.625rem;
    --link-as-button-icon-md-max-width: 2.625rem;
    --link-as-button-base-sm-desktop-padding-y: 0.125rem;
    --link-as-button-icon-sm-desktop-min-width: 1.75rem;
    --link-as-button-icon-sm-desktop-max-width: 1.75rem;
    --button-base-disabled-background-color: var(--cg-base-disabled-background-color);
    --button-base-disabled-border-color: var(--cg-base-disabled-border-color);
    --button-base-disabled-color: var(--cg-base-disabled-text-color);
    --button-isolated-background-color: var(--cg-base-isolated-cta-background-color);
    --button-isolated-background-color-hover: var(--cg-base-isolated-cta-background-color-hover);
    --button-isolated-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-background-color: var(--cg-base-primary-cta-background-color);
    --button-primary-background-color-hover: var(--cg-base-primary-cta-background-color-hover);
    --button-primary-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-ghost-background-color: var(--cg-base-primary-cta-ghost-background-color);
    --button-primary-ghost-background-color-hover: var(--cg-base-primary-cta-ghost-background-color-hover);
    --button-primary-ghost-border-color: var(--cg-base-primary-cta-ghost-border-color);
    --button-primary-ghost-text-color: var(--cg-base-primary-cta-ghost-text-color);
}
:root {
    --car-color-black: var(--black);
    --car-color-blue: var(--cg-brand-blue-original);
    --car-color-brown: #a1662b;
    --car-color-gray: var(--silver-dark);
    --car-color-green: var(--sublime);
    --car-color-orange: var(--punkn);
    --car-color-pink: #fa3889;
    --car-color-purple: #c139ef;
    --car-color-red: var(--cg-brand-red);
    --car-color-teal: #319aaa;
    --car-color-white: var(--white);
    --car-color-yellow: #ffd400;
    --car-color-gold: linear-gradient(329.91deg,#f0cd42 22.21%,#fff1d1 96.11%);
    --car-color-silver: linear-gradient(329.91deg,var(--silver) 22.21%,#f9fafb 92.15%);
    --car-color-unknown: linear-gradient(335.64deg,#1a2a6c 10.84%,#b21f1f 56.16%,#fdbb2d 92.13%);
}
:root {
    --input-base-border-color: var(--cg-base-border-color);
    --input-base-background-color: var(--cg-base-input-background-color);
    --input-base-border-radius: var(--cg-base-input-border-radius);
    --input-base-placeholder-text-color: var(--cg-base-input-placeholder-text-color);
    --input-base-text-color: var(--cg-base-input-text-color);
    --input-base-font-size: 1rem;
    --input-base-height: var(--cg-base-input-height);
    --input-base-min-height: var(--cg-base-input-height);
    --input-base-padding-y: var(--cg-base-input-base-padding-y);
    --input-base-padding-x: var(--cg-base-input-base-padding-x);
    --input-base-width-full: 100%;
    --input-base-error-background-color: var(--cg-base-error-background-color);
    --input-base-error-outline-color: var(--cg-base-error-border-color);
    --input-base-label-font-size: 0.875rem;
    --input-base-label-font-weight: var(--primary-font-weight-normal);
    --input-base-label-text-color: var(--cg-base-label-text-color);
    --input-base-label-margin-y: var(--cg-base-input-label-margin-y);
    --input-base-label-inline-padding-x: var(--cg-base-input-label-inline-padding-x);
    --input-base-disabled-background-color: var(--cg-base-disabled-background-color);
    --input-base-disabled-border-color: var(--cg-base-disabled-border-color);
    --input-base-disabled-color: var(--cg-base-disabled-text-color);
    --input-base-inline-label-wrap-grid-gap: var(--cg-base-input-inline-label-wrap-grid-gap);
    --input-base-icon-margin-all: 0 0.5rem;
}
:root {
    --image-base-border-color: var(--cg-base-image-border-color);
    --image-base-noimg-background-color: var(--cg-base-image-noimg-background-color);
    --image-base-noimg-font-size: 18px;
    --image-base-noimg-padding: 2rem;
    --image-base-noimg-grid-gap: 0.5rem;
    --image-base-noimg-lineheight: var(--cg-base-image-base-noimg-lineheight);
}
:root {
    --button-base-background-color: transparent;
    --button-base-background-transition: var(--cg-base-transition);
    --button-base-border-color: var(--cg-base-cta-border-color);
    --button-base-text-color: var(--cg-base-cta-dark-text-color);
    --button-base-border-radius: var(--cg-base-border-radius);
    --button-base-line-height: var(--cg-base-line-height);
    --button-base-min-height: 2.75rem;
    --button-base-sm-min-height: 1.875rem;
    --button-base-lg-min-height: 3.125rem;
    --button-base-sm-font-size: 1rem;
    --button-base-md-font-size: 1rem;
    --button-base-lg-font-size: 1.25rem;
    --button-base-sm-desktop-padding-x: 0.75rem;
    --button-base-sm-desktop-padding-y: 0;
    --button-base-sm-padding-x: 1.25rem;
    --button-base-sm-padding-y: 0;
    --button-base-md-padding-x: 1.25rem;
    --button-base-md-padding-y: 0;
    --button-base-lg-padding-x: 1.25rem;
    --button-base-lg-padding-y: 0;
    --button-base-icon-margin-right: 0.5rem;
    --button-base-icon-margin-left: 0.5rem;
    --button-icon-sm-desktop-min-width: 1.875rem;
    --button-icon-sm-desktop-max-width: 1.875rem;
    --button-icon-sm-min-width: 2.75rem;
    --button-icon-sm-max-width: 2.75rem;
    --button-icon-md-min-width: 2.75rem;
    --button-icon-md-max-width: 2.75rem;
    --button-icon-lg-min-width: 3.125rem;
    --button-icon-lg-max-width: 3.125rem;
    --link-as-button-base-sm-padding-y: 0.5625rem;
    --link-as-button-base-md-padding-y: 0.563rem;
    --link-as-button-base-lg-padding-y: 0.5625rem;
    --link-as-button-icon-md-min-width: 2.625rem;
    --link-as-button-icon-md-max-width: 2.625rem;
    --link-as-button-base-sm-desktop-padding-y: 0.125rem;
    --link-as-button-icon-sm-desktop-min-width: 1.75rem;
    --link-as-button-icon-sm-desktop-max-width: 1.75rem;
    --button-base-disabled-background-color: var(--cg-base-disabled-background-color);
    --button-base-disabled-border-color: var(--cg-base-disabled-border-color);
    --button-base-disabled-color: var(--cg-base-disabled-text-color);
    --button-isolated-background-color: var(--cg-base-isolated-cta-background-color);
    --button-isolated-background-color-hover: var(--cg-base-isolated-cta-background-color-hover);
    --button-isolated-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-background-color: var(--cg-base-primary-cta-background-color);
    --button-primary-background-color-hover: var(--cg-base-primary-cta-background-color-hover);
    --button-primary-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-ghost-background-color: var(--cg-base-primary-cta-ghost-background-color);
    --button-primary-ghost-background-color-hover: var(--cg-base-primary-cta-ghost-background-color-hover);
    --button-primary-ghost-border-color: var(--cg-base-primary-cta-ghost-border-color);
}
:root {
    --modal-base-wrap-background-color: var(--cg-base-modal-wrap-background-color);
    --modal-base-background-color: var(--cg-base-modal-background-color);
    --modal-base-default-width: var(--cg-base-modal-default-width);
    --modal-base-large-width: var(--cg-base-modal-large-width);
    --modal-header-base-border-color: var(--cg-base-modal-header-border-color);
    --modal-header-base-text-color: var(--cg-base-modal-header-text-color);
    --modal-header-base-title-text-color: var(--cg-base-modal-header-title-text-color);
    --modal-header-base-font-size: var(--cg-base-modal-header-font-size);
    --modal-header-base-nav-background-color-hover: var(--cg-base-modal-header-nav-background-color-hover);
    --modal-footer-base-text-color: var(--cg-base-modal-footer-text-color);
    --modal-footer-base-title-font-size: var(--cg-base-modal-footer-title-font-size);
    --modal-footer-base-font-size: var(--cg-base-modal-footer-font-size);
}
:root {
    --modal-base-wrap-background-color: var(--cg-base-modal-wrap-background-color);
    --modal-base-background-color: var(--cg-base-modal-background-color);
    --modal-base-default-width: var(--cg-base-modal-default-width);
    --modal-base-large-width: var(--cg-base-modal-large-width);
    --modal-header-base-border-color: var(--cg-base-modal-header-border-color);
    --modal-header-base-text-color: var(--cg-base-modal-header-text-color);
    --modal-header-base-title-text-color: var(--cg-base-modal-header-title-text-color);
    --modal-header-base-font-size: var(--cg-base-modal-header-font-size);
    --modal-header-base-nav-background-color-hover: var(--cg-base-modal-header-nav-background-color-hover);
    --modal-footer-base-text-color: var(--cg-base-modal-footer-text-color);
    --modal-footer-base-title-font-size: var(--cg-base-modal-footer-title-font-size);
    --modal-footer-base-font-size: var(--cg-base-modal-footer-font-size);
}
:root {
    --modal-base-wrap-background-color: var(--cg-base-modal-wrap-background-color);
    --modal-base-background-color: var(--cg-base-modal-background-color);
    --modal-base-default-width: var(--cg-base-modal-default-width);
    --modal-base-large-width: var(--cg-base-modal-large-width);
    --modal-header-base-border-color: var(--cg-base-modal-header-border-color);
    --modal-header-base-text-color: var(--cg-base-modal-header-text-color);
    --modal-header-base-title-text-color: var(--cg-base-modal-header-title-text-color);
    --modal-header-base-font-size: var(--cg-base-modal-header-font-size);
    --modal-header-base-nav-background-color-hover: var(--cg-base-modal-header-nav-background-color-hover);
    --modal-footer-base-text-color: var(--cg-base-modal-footer-text-color);
    --modal-footer-base-title-font-size: var(--cg-base-modal-footer-title-font-size);
    --modal-footer-base-font-size: var(--cg-base-modal-footer-font-size);
}
:root {
    --button-base-background-color: transparent;
    --button-base-background-transition: var(--cg-base-transition);
    --button-base-border-color: var(--cg-base-cta-border-color);
    --button-base-text-color: var(--cg-base-cta-dark-text-color);
    --button-base-border-radius: var(--cg-base-border-radius);
    --button-base-line-height: var(--cg-base-line-height);
    --button-base-min-height: 2.75rem;
    --button-base-sm-min-height: 1.875rem;
    --button-base-lg-min-height: 3.125rem;
    --button-base-sm-font-size: 1rem;
    --button-base-md-font-size: 1rem;
    --button-base-lg-font-size: 1.25rem;
    --button-base-sm-desktop-padding-x: 0.75rem;
    --button-base-sm-desktop-padding-y: 0;
    --button-base-sm-padding-x: 1.25rem;
    --button-base-sm-padding-y: 0;
    --button-base-md-padding-x: 1.25rem;
    --button-base-md-padding-y: 0;
    --button-base-lg-padding-x: 1.25rem;
    --button-base-lg-padding-y: 0;
    --button-base-icon-margin-right: 0.5rem;
    --button-base-icon-margin-left: 0.5rem;
    --button-icon-sm-desktop-min-width: 1.875rem;
    --button-icon-sm-desktop-max-width: 1.875rem;
    --button-icon-sm-min-width: 2.75rem;
    --button-icon-sm-max-width: 2.75rem;
    --button-icon-md-min-width: 2.75rem;
    --button-icon-md-max-width: 2.75rem;
    --button-icon-lg-min-width: 3.125rem;
    --button-icon-lg-max-width: 3.125rem;
    --link-as-button-base-sm-padding-y: 0.5625rem;
    --link-as-button-base-md-padding-y: 0.563rem;
    --link-as-button-base-lg-padding-y: 0.5625rem;
    --link-as-button-icon-md-min-width: 2.625rem;
    --link-as-button-icon-md-max-width: 2.625rem;
    --link-as-button-base-sm-desktop-padding-y: 0.125rem;
    --link-as-button-icon-sm-desktop-min-width: 1.75rem;
    --link-as-button-icon-sm-desktop-max-width: 1.75rem;
    --button-base-disabled-background-color: var(--cg-base-disabled-background-color);
    --button-base-disabled-border-color: var(--cg-base-disabled-border-color);
    --button-base-disabled-color: var(--cg-base-disabled-text-color);
    --button-isolated-background-color: var(--cg-base-isolated-cta-background-color);
    --button-isolated-background-color-hover: var(--cg-base-isolated-cta-background-color-hover);
    --button-isolated-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-background-color: var(--cg-base-primary-cta-background-color);
    --button-primary-background-color-hover: var(--cg-base-primary-cta-background-color-hover);
    --button-primary-text-color: var(--cg-base-cta-light-text-color);
    --button-primary-ghost-background-color: var(--cg-base-primary-cta-ghost-background-color);
    --button-primary-ghost-background-color-hover: var(--cg-base-primary-cta-ghost-background-color-hover);
    --button-primary-ghost-border-color: var(--cg-base-primary-cta-ghost-border-color);
}
:root {
    --tooltip-base-text-color: var(--cg-base-tooltip-text-color);
    --tooltip-base-background-color: var(--cg-base-tooltip-background-color);
    --tooltip-base-font-weight: var(--cg-base-tooltip-font-weight);
    --tooltip-base-arrow-background-color: var(--cg-base-tooltip-arrow-background-color);
    --tooltip-base-arrow-border-color: var(--cg-base-tooltip-arrow-border-color);
    --tooltip-base-border-radius: var(--cg-base-tooltip-border-radius);
    --tooltip-base-transparent-black: var(--cg-base-tooltip-transparent-black);
}
:root {
    --card-base-border-color: var(--cg-base-border-color);
    --card-body-base-link-color: var(--cg-base-card-link-color);
    --card-body-base-text-color: var(--cg-base-body-text-color-light);
    --card-body-base-header-color: var(--cg-base-body-text-color);
}
:root {
    --card-base-border-color: var(--cg-base-border-color);
    --card-body-base-link-color: var(--cg-base-card-link-color);
    --card-body-base-text-color: var(--cg-base-body-text-color-light);
    --card-body-base-header-color: var(--cg-base-body-text-color);
}
:root {
    --select-base-text-color: var(--cg-base-input-text-color);
    --select-base-border-color: var(--cg-base-border-color);
    --select-base-border-radius: var(--cg-base-input-border-radius);
    --select-base-background-color: var(--cg-base-input-background-color);
    --select-base-height: var(--cg-base-select-height);
    --select-base-disabled-color: var(--cg-base-disabled-text-color);
    --select-base-label-wrap-grid-gap: var(--cg-base-select-label-wrap-grid-gap);
    --select-base-padding-x: var(--cg-base-select-base-padding-x);
    --select-base-label-text-color: var(--cg-base-label-text-color);
    --select-base-label-font-size: 0.875rem;
    --select-base-label-margin-y: var(--cg-base-input-label-margin-y);
    --select-base-icon-color: var(--cg-base-select-icon-color);
}
:root {
    --cg-base-text-margin-bottom: var(--space-xs);
    --cg-base-text-margin-top: 0;
    --cg-base-h1-fluid-font-size: var(--h1-fluid-font-size);
    --cg-base-h1-fallback-font-size: var(--h1-fallback-font-size);
    --cg-base-h1-weight: var(--primary-font-weight-bold);
    --cg-base-h2-fluid-font-size: var(--h2-fluid-font-size);
    --cg-base-h2-fallback-font-size: var(--h2-fallback-font-size);
    --cg-base-h2-weight: var(--primary-font-weight-bold);
    --cg-base-h3-fluid-font-size: var(--h3-fluid-font-size);
    --cg-base-h3-fallback-font-size: var(--h3-fallback-font-size);
    --cg-base-h3-weight: var(--primary-font-weight-normal);
    --cg-base-h4-fluid-font-size: var(--h4-fluid-font-size);
    --cg-base-h4-fallback-font-size: var(--h4-fallback-font-size);
    --cg-base-h4-weight: var(--primary-font-weight-bold);
    --cg-base-h5-font-size: var(--h5-font-size);
    --cg-base-h5-weight: var(--primary-font-weight-bold);
    --cg-base-h6-font-size: var(--h6-font-size);
    --cg-base-h6-weight: var(--primary-font-weight-normal);
    --cg-base-body-font-size: var(--body-font-size);
    --cg-base-body-font-size-small: var(--body-font-size-small);
}
:root {
    --cg-base-transition: var(--transition-01);
}
:root {
    --cg-base-smaller-line-height: var(--smaller-line-height);
    --cg-base-border-radius: 2px;
    --cg-base-input-border-radius: 0;
    --cg-base-input-height: 2.625rem;
    --cg-base-input-base-padding-y: 0;
    --cg-base-input-base-padding-x: 0.625rem;
    --cg-base-input-label-margin-y: 0.5rem;
    --cg-base-input-label-inline-padding-x: 0.625rem;
    --cg-base-input-inline-label-wrap-grid-gap: 0.25rem;
    --cg-base-checkbox-input-height: 1.25rem;
    --cg-base-checkbox-input-width: 1.25rem;
    --cg-base-checkbox-border-radius: 0px;
    --cg-base-checkbox-checkmark-border-width: 3px solid;
    --cg-base-checkbox-label-font-size: var(--body-font-size);
    --cg-base-checkbox-label-line-height: var(--smaller-line-height);
    --cg-base-checkbox-label-padding-x: 1.75rem;
    --cg-base-checkbox-small-label-font-size: var(--body-font-size-small);
    --cg-base-checkbox-small-label-line-height: var(--base-line-height);
    --cg-base-checkbox-small-label-padding-x: 1.5rem;
    --cg-base-checkbox-small-input-height: 1rem;
    --cg-base-checkbox-small-input-width: 1rem;
    --cg-base-checkbox-small-checkmark-border-width: 2px solid;
    --cg-base-select-base-padding-x: 0.625rem;
    --cg-base-select-label-wrap-grid-gap: 0.5rem;
    --cg-base-select-height: 2.75rem;
    --cg-base-tooltip-border-radius: 6px;
    --cg-base-collapse-padding: 1rem;
    --cg-base-modal-default-width: 550px;
    --cg-base-modal-large-width: 700px;
    --cg-base-modal-header-font-size: 1.2rem;
    --cg-base-modal-footer-title-font-size: 1rem;
    --cg-base-modal-footer-font-size: 0.875rem;
    --cg-base-dropdown-border-radius: var(--cg-base-border-radius);
    --cg-base-dropdown-max-width: 15.625rem;
    --cg-base-dropdown-min-width: 12.5rem;
    --cg-base-dropdown-max-height: 37.5rem;
    --cg-base-dropdown-wrap-padding-x: 0.5rem;
    --cg-base-dropdown-wrap-padding-y: 0.25rem;
    --cg-base-dropdown-link-padding-x: 0.5rem;
    --cg-base-dropdown-link-padding-y: 0.5rem;
    --cg-base-dropdown-link-line-height: var(--smaller-line-height);
    --cg-base-dropdown-link-font-size: var(--body-font-size);
    --cg-base-dropdown-icon-margin-x: 0.5rem;
    --cg-base-dropdown-button-overflow-hover-border-radius: inherit;
    --cg-base-tag-border-radius: var(--cg-base-border-radius);
    --cg-base-tag-font-size: 0.875rem;
    --cg-base-tag-min-height: 1.625rem;
    --cg-base-tag-closebtn-min-height: 1.5rem;
    --cg-base-tag-max-width: 18.75rem;
    --cg-base-tag-padding-x: 0.25rem;
}
:root {
    --cg-base-link-color: var(--steel-blue);
    --cg-base-link-color-hover: var(--steel-blue-dark);
    --cg-base-body-text-color: var(--almost-black);
    --cg-base-body-text-color-light: var(--mid-black);
    --cg-base-text-color-white: var(--white);
    --cg-base-placeholder-text-color: var(--cg-base-body-text-color-light);
    --cg-base-label-text-color: var(--cg-base-body-text-color);
    --cg-base-danger: var(--rosso-corsa-a11y);
    --cg-base-box-shadow-color: var(--sting-gray-transparent);
    --cg-base-box-shadow-minimal: 0 9px 15px var(--cg-base-box-shadow-color);
    --cg-base-box-shadow-deep: 0 20px 15px var(--cg-base-box-shadow-color);
    --cg-base-box-shadow-dramatic: 0 30px 15px var(--cg-base-box-shadow-color);
    --cg-base-h1-text-color: var(--black);
    --cg-base-h2-text-color: var(--black);
    --cg-base-h3-text-color: var(--black);
    --cg-base-h4-text-color: var(--black);
    --cg-base-h5-text-color: var(--black);
    --cg-base-h6-text-color: var(--mid-black);
    --cg-base-icon-primary-color: var(--cg-brand-blue);
    --cg-base-border-color: var(--silver-dark);
    --cg-base-neutral-background-color: var(--vineyard);
    --cg-base-neutral-background-color-hint: var(--vineyard-hint);
    --cg-base-error-background-color: var(--rosso-corsa-hint);
    --cg-base-error-border-color: var(--rosso-corsa-a11y);
    --cg-base-critical-background-color: var(--rosso-corsa);
    --cg-base-critical-background-color-hint: var(--rosso-corsa-hint);
    --cg-base-info-background-color: var(--le-mans);
    --cg-base-info-background-color-hint: var(--le-mans-hint);
    --cg-base-warning-background-color: var(--butterscotch);
    --cg-base-warning-background-color-hint: var(--butterscotch-hint);
    --cg-base-positive-background-color: var(--sublime);
    --cg-base-positive-background-color-hint: var(--sublime-hint);
    --cg-base-focus-border-color: var(--cg-base-link-color);
    --cg-base-disabled-background-color: var(--fog);
    --cg-base-disabled-border-color: var(--fog-mid);
    --cg-base-disabled-text-color: var(--cg-base-body-text-color-light);
    --cg-base-cta-light-text-color: var(--white);
    --cg-base-cta-dark-text-color: var(--almost-black);
    --cg-base-cta-background-color: var(--fog);
    --cg-base-cta-background-color-white: var(--white);
    --cg-base-cta-border-color: transparent;
    --cg-base-cta-text-color: var(--cg-base-body-text-color-light);
    --cg-base-cta-outline-background-color-hover: var(--fog);
    --cg-base-cta-outline-text-color: var(--charcoal);
    --cg-base-isolated-cta-background-color: var(--emerald);
    --cg-base-isolated-cta-background-color-hover: var(--emerald-dark);
    --cg-base-primary-cta-background-color: var(--cg-brand-blue);
    --cg-base-primary-cta-background-color-hover: var(--cg-brand-blue-dark);
    --cg-base-primary-cta-ghost-background-color: var(--white);
    --cg-base-primary-cta-ghost-background-color-hover: var(--cg-base-cta-outline-background-color-hover);
}
:root {
    --base-line-height: 1.5;
    --smaller-line-height: 1.2;
    --primary-font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    --primary-font-weight-bold: 700;
    --primary-font-weight-normal: 400;
    --generic-font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    --font-awesome-icon-font: 'Font Awesome 5 Pro';
    --h1-fluid-font-size: clamp(1.6rem, 3.5vw, 2rem);
    --h1-fallback-font-size: 1.75rem;
    --h2-fluid-font-size: clamp(1.3rem, 3.5vw, 1.5rem);
    --h2-fallback-font-size: 1.4rem;
    --h3-fluid-font-size: clamp(1.2rem, 3.5vw, 1.375rem);
    --h3-fallback-font-size: 1.3rem;
    --h4-fluid-font-size: clamp(1rem, 2.5vw, 1.25rem);
    --h4-fallback-font-size: 1rem;
    --h5-font-size: 1rem;
    --h6-font-size: 1rem;
    --body-font-size: 1rem;
    --body-font-size-small: 0.875rem;
}
:root {
    --space-unit: 1em;
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-unit-rem: 1rem;
    --space-xs-rem: calc(0.5 * var(--space-unit-rem));
    --space-sm-rem: calc(0.75 * var(--space-unit-rem));
    --space-md-rem: calc(1.25 * var(--space-unit-rem));
    --space-lg-rem: calc(2 * var(--space-unit-rem));
    --space-xl-rem: calc(3.25 * var(--space-unit-rem));
}
:root {
    --transition-01: 70ms;
    --transition-02: 100ms;
}
:root {
    --cg-brand-red: hsl(356, 85%, 58%);
    --cg-brand-blue-original: hsl(197, 100%, 43%);
    --cg-brand-blue: hsl(202, 98%, 37%);
    --cg-brand-blue-dark: hsl(203, 98%, 33%);
    --cg-brand-blue-hint: hsl(202, 97%, 87%);
    --steel-blue: hsl(200, 100%, 30%);
    --steel-blue-dark: hsl(201, 100%, 15%);
    --steel-blue-hint: hsl(200, 100%, 90%);
    --emerald: hsl(121, 100%, 25%);
    --emerald-dark: hsl(121, 100%, 20%);
    --emerald-hint: hsl(120, 34%, 85%);
    --vineyard: hsl(196, 37%, 80%);
    --vineyard-dark: hsl(196, 37%, 65%);
    --vineyard-hint: hsl(192, 36%, 95%);
    --balsam: hsl(120, 100%, 21%);
    --balsam-hint: hsl(120, 100%, 96%);
    --moss: hsl(120, 100%, 30%);
    --moss-a11y: hsl(120, 100%, 26%);
    --moss-hint: hsl(120, 100%, 95%);
    --sassy-grass: hsl(120, 100%, 37%);
    --sassy-grass-a11y: hsl(120, 100%, 27%);
    --sassy-grass-hint: hsl(120, 100%, 97%);
    --punkn: hsl(31, 100%, 50%);
    --punkn-a11y: hsl(31, 100%, 35%);
    --punkn-hint: hsl(32, 100%, 95%);
    --tor-red: hsl(0, 100%, 48%);
    --tor-red-a11y: hsl(0, 100%, 43%);
    --tor-red-hint: hsl(0, 100%, 93%);
    --black: hsl(0, 0%, 0%);
    --almost-black: hsl(0, 0%, 4%);
    --mid-black: hsl(0, 0%, 44%);
    --iron: hsl(0, 0%, 30%);
    --charcoal: hsl(215, 25%, 26%);
    --anvil: hsl(193, 25%, 43%);
    --rosso-corsa-a11y: hsl(0, 100%, 40%);
    --rosso-corsa: hsl(0, 90%, 60%);
    --rosso-corsa-hint: hsl(0, 100%, 95%);
    --butterscotch: hsl(42, 100%, 50%);
    --butterscotch-dark: hsl(42, 100%, 35%);
    --butterscotch-hint: hsl(41, 100%, 90%);
    --sublime: hsl(145, 100%, 35%);
    --sublime-hint: hsl(145, 100%, 90%);
    --le-mans: hsl(205, 100%, 62%);
    --le-mans-hint: hsl(205, 100%, 90%);
    --white: hsl(0, 0%, 100%);
    --fog: hsl(180, 5%, 96%);
    --fog-mid: hsl(180, 5%, 88%);
    --fog-dark: hsl(180, 5%, 81%);
    --silver: hsl(207, 17%, 88%);
    --silver-dark: hsl(207, 17%, 80%);
}
html {
    font-size: 100%;
}
*, :after, :before, html {
    box-sizing: border-box;
}
*, :after, :before, html {
    box-sizing: border-box;
}